<%= link_to link_to image_tag("back.png", size: "15"), human_resources_path, class: "btn btn btn-secondary opacity-50 btn-sm mb-3" %>
<h1>Novo RH</h1>

<%= render "form", human_resource: @human_resource %>

