<div >
    <h1><%= t("Welcome") %></h1>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam officiis labore, perspiciatis reprehenderit suscipit magni. Minima culpa quod asperiores neque optio atque. Exercitationem eaque vel incidunt minima nulla rerum? Quia.
    Iste blanditiis pariatur molestiae deleniti ipsa! Ipsum veniam ad numquam consectetur porro aliquam, consequatur, qui totam alias consequuntur, repellendus reprehenderit quibusdam! Officia iusto ullam porro itaque numquam repellat ea ab?
    Animi quam, fugiat magnam itaque dolores maiores similique provident, impedit repellat nihil ea eos consectetur illo dolorum aspernatur delectus sed debitis quo voluptates! Beatae exercitationem ea reprehenderit debitis sapiente aliquid!
    Debitis ut id beatae, inventore maxime iusto similique! Ullam porro asperiores earum! Natus nemo minima sed quidem reiciendis atque veniam aliquam porro ipsa libero obcaecati labore, debitis repellat nisi similique?
    </p>
<div>