<table class="table mb-7">
    <p>
    <strong><%= HumanResource.model_name.human(count: human_resources.count) %>:</strong>
    </p>


  <tbody>
    <% human_resources.each do |human_resource| %>
      <tr>
        <td><%= human_resource.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>