<table class="table">
    <p>
    <strong><%= Project.model_name.human(count: projects.count) %>:</strong>
    </p>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
    <% end %>
  </tbody>
</table>