@import "bootstrap";

h1, h2, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
    font-size: 13px;
}

@media(max-width: 1000px){
    .info {
        font-size: 10px;
    }
}